<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ndanh.mytranslator">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".app.TranslateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">
        <activity
            android:name=".screen.text.TextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".screen.voice.VoiceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".screen.history.HistoryActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".screen.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.camera.CameraActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".screen.settings.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".screen.about.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".screen.help.HelpActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".screen.privacypolicy.PrivacyPolicyActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>